//Primary colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyan-hsla: hsla(178,100%,50%, 0.5);

//Neutral colors

$very-dark-blue-main: hsl(217, 54%, 11%);
$very-dark-blue-card: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

*{
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    background-color: $very-dark-blue-main;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 18px;
    }
    font-family: 'Outfit', sans-serif;
}
.container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $very-dark-blue-card;
    border-radius: 15px;
    #image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        height: 60%;
        .image {
            background-image: url('./images/image-equilibrium.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            .view {
                display: none;
            }
        }
        .image:hover{
            cursor: pointer;
            .view{
                border-radius: 15px;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                align-items: center;
                background-color: $cyan-hsla;
                cursor: pointer;
            }
        }
    }
    #text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
        h1 {
            font-size: 1.4em;
            font-weight: 600;
        }
        h1:hover {
            cursor: pointer;
            color: $cyan;
        }
        p {
            font-size: 1em;
            color: $soft-blue;
            line-height: 2em;
        }
    }
    #price {
        padding: 15px 20px 15px 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .currency {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: $cyan;
            font-weight: 600;
        }
        .time {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            color: $soft-blue;
            font-weight: 500;
        }
    }
    #line {
        width: calc(100% - 40px);
        color: $very-dark-blue-line;
    }
    #creator {
        padding: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        .avatar{
            width: 15%;
            height: auto;
            border-radius: 50%;
            border: 2px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                border-radius: 100px;
            }
        }
        p{
            color: $soft-blue;
            font-size: 1em;
        }
        .name{
            font-weight: 500;
            color: $white;
        }
        .name:hover{
            cursor: pointer;
            color: $cyan;
        }
    }
}

.attribution {
    position: absolute;
    bottom: 5px;
    font-size: 0.5em;
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 23%;
        max-height: 65%;
    }
}

@media screen and (min-width: 1530px) {
    .container{
        max-width: 20%;
        max-height: 70%;
    }
}